body {
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Pacifico', cursive; 
    font-weight: 50;
    font-size: 300%;
    color: #66BFBF;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
}

h3 {
    padding-top: 20px;
}

hr {
    margin: 0;
    border: 0;
    height: 3px;
    background-color: black;
    color: black;
}

.top-container {
    background-color: #E4F9F5;
    margin: 0;
    padding-top: 100px;
}

.profile {
    background-color: #30E3CA;
    
}

.my-experience {
    margin: 0;
    position: relative;
    top: 25px;
    bottom: 15px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skills {
    background-color: #11999E;
    margin: 0;
}

.my-education {
    background-color: #1c7a7e;
    margin: 0;
    position: relative;
    top: 25px;
    padding-bottom: 25px;
}

.education {
    background-color: #1c7a7e;
    margin: 0;
}

.education-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    line-height: 1.5;
    padding-top: 15px;
    padding-bottom: 15px;
}


.contact-me {
    background-color: #73817f;
    margin: 0;
    padding-bottom: 20px;
}

.get-in-touch {
    margin: 0;
    position: relative;
    top: 25px;
}

.bottom-container {
    background-color: #40514E;
    color: #11999E;
    padding-top: 30px;
}


.top-cloud {
    position: absolute;
    right: 650px;
    top: 50px;

}

.mountain-img {
    position: relative;
    top: 7px;
}

.bottom-cloud {
    position: absolute;
}

.cartoon-plant {
    width: 20%;
    float: left;
    margin-right: 30px;
}

.beach-chairs {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.playground {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.new-paltz-img {
    width: 40%;
    float: right;
    margin-left: 5px;
    border-radius: 10%;
}

.usyd-img {
    width: 25%;
    float: left;
    margin-right: 30px;
    border-radius: 100%;
}

.cornell-img {
    width: 25%;
    float: right;
    margin-right: 200px;
}

.brockport-img {
    width: 30%;
    float: left;
    border-radius: 100%;
    margin-right: 5px;
}

.brockport-hs-img {
    width: 20%;
    float: right;
    margin-right: 200px;
    border-radius: 10%;
}